<div class="container">
  <div class="list-group">
    <a href="#" class="list-group-item list-group-item-action"
      >All Categories</a
    >
    <a href="#" class="list-group-item list-group-item-action">Bread</a>
    <a href="#" class="list-group-item list-group-item-action">Dairy</a>
    <a href="#" class="list-group-item list-group-item-action">Fruits</a>
    <a href="#" class="list-group-item list-group-item-action"
      >Seasonings and Spices</a
    >
    <a href="#" class="list-group-item list-group-item-action">Vegetables</a>
  </div>
</div>
