<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <div calss="col-4  justify-content-end ">
      <a class="navbar-brand" href="#">grocery-order-delivery</a>
    </div>

    <!-- <div
      class="col-3 justify-content-center collapse navbar-collapse"
      id="navbarNavDropdown"
    >
      <ul class="navbar-nav">
        <li ngbDropdown class="nav-item dropdown ms-3">
          <a
            ngbDropdownToggle
            class="nav-link dropdown-toggle"
            routerLink="/login"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="bi bi-person-circle"></i>
            <span>` `Sign in / join</span>
          </a>
          <! <ul ngbDropdownMenu class="dropdown-menu">
            <li><a class="dropdown-item" href="#">My Orders</a></li>
            <li><a class="dropdown-item" href="#">Manage orders</a></li>
            <li><a class="dropdown-item" href="#">Manage products</a></li>
          </ul> -->
    <!-- </li>
      </ul>
    </div>  -->

    <div class="col-3 justify-content-center collapse navbar-collapse">
      <div class="row align-items-center" *ngIf="!isUserAuthenticated">
        <div class="col-auto">
          <i class="bi bi-person-circle"></i>
        </div>
        <div class="col">
          <h5 class="mb-0"><a routerLink="/login">Sign in / Join</a></h5>
        </div>
      </div>

      <div
        ngbDropdown
        class="dropdown user-dropdown"
        *ngIf="isUserAuthenticated"
      >
        <button
          ngbDropdownToggle
          class="btn btn-secondary dropdown-toggle user-dropdown-button"
          type="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <i class="bi bi-person-circle"></i>
          Hi {{ userName }}
        </button>
        <ul ngbDropdownMenu class="dropdown-menu">
          <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
        </ul>
      </div>
    </div>

    <!-- <div class="justify-content-end">
      <span>shoping cart</span>
    </div>
    <div class="col-2 ms-2">
      <a href="#"><i class="bi bi-cart"></i></a>
    </div> -->

    <div>
      <span routerLink="/cart">Shoping Cart</span>
    </div>
    <div class="cart-wishlist col-2 ms-2">
      <button
        type="button"
        class="btn btn-light position-relative"
        routerLink="/cart"
      >
        <a><i class="bi bi-cart"></i></a>
        <ng-container *ngIf="cartStore.cart$ | async as cart">
          <span
            *ngIf="cart.totalProducts > 0"
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark"
          >
            {{ cart.totalProducts }}
          </span>
        </ng-container>
      </button>
    </div>

    <div class="col-3 justify-content-center">
      <form class="d-flex ms-3" role="search">
        <input
          [(ngModel)]="keyword"
          name="searchInput"
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button
          class="btn btn-outline-success"
          type="submit"
          (click)="onClickSearch()"
        >
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
